* {
  margin: 0;
  padding: 0;
}
.adRoot{
  margin-top:18px;
  margin-left:auto;
  margin-right:auto;
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider > ul {
  height: auto;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: left 1s;
}

.slider .slider-item {
  display: inline-block;
  height: auto;
}

.slider .slider-item > img {
  display: block;
  height: auto;
  width: 100%;
}

.slider .slider-arrow {
  display: inline-block;
  color: #efefef;
  font-size: 45px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 100;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
}

.slider .slider-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}

.slider .slider-arrow.slider-arrow-right {
  right: 0;
}

.slider .slider-arrow.slider-arrow-left {
  left: 0;
}

.slider .slider-dots-wrap {
  z-index: 99;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.slider .slider-dots-wrap .slider-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  /*border: 3px solid #ccc;*/
  background:  #ccc;
  margin: 6px;
  cursor: pointer;
  border-radius: 20px;
}

.slider .slider-dots-wrap .slider-dot:hover {
  /*border: 3px solid #868686;*/
  background: #fff;
}

.slider .slider-dots-wrap .slider-dot.slider-dot-selected {
  background: #fff;
}



/*banner text position*/
.upLeft{
  position:absolute;
  left:60px;
  top:10px;
  z-index: 1000;
}
 .bottomLeft{
  position:absolute;
  left:60px;
  bottom:10px;
  z-index: 1000;
}
 .upRight{
  position:absolute;
  right:60px;
  top:10px;
  z-index: 1000;
}
.bottomRight{
  position:absolute;
  right:60px;
  bottom:10px;
  z-index: 1000;
}


