.size1{
    width: 740px;
    height: 230px;
    margin:0 auto;
}
.size2{
    width: 740px;
    height: 310px;
    margin:0 auto;
}
.size3{
    width: 960px;
    height: 160px;
    margin:0 auto;
}
.size4{
    width: 960px;
    height: 280px;
    margin:0 auto;
}
.size5{
    width: 960px;
    height: 380px;
    margin:0 auto;
}
.size6{
    width: 960px;
    height: 450px;
    margin:0 auto;
}
.size7{
    width: 1008px;
    height: 331px;
    margin:0 auto;
}
.size8{
    width: 1440px;
    height: 380px;
    margin:0 auto;
}