.slider-item{
  position:relative;
}
.slider-item .upLeft{
  position:absolute;
  left:60px;
  top:10px;
  z-index: 1000;
}
.slider-item .bottomLeft{
  position:absolute;
  left:60px;
  bottom:10px;
  z-index: 1000;
}
.slider-item .upRight{
  position:absolute;
  right:60px;
  top:10px;
  z-index: 1000;
}
.slider-item .bottomRight{
  position:absolute;
  right:60px;
  bottom:10px;
  z-index: 1000;
}